<a href="https://colab.research.google.com/github/nastialazareva/ForStudents.TankServer/blob/master/HW_seminar_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Задача 44:
В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего
из 1 столбца. Ваша задача перевести его в one hot вид. Сможете ли вы это сделать без get_dummies?

In [ ]:
# import random
# lst = ['robot'] * 10
# lst += ['human'] * 10
# random.shuffle(lst)
# data = pd.DataFrame({'whoAmI':lst})
# data.head()

In [2]:
import pandas as pd
import numpy as np
import random

In [13]:
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI': lst})
print(data)

   whoAmI
0   human
1   robot
2   human
3   robot
4   robot
5   human
6   human
7   robot
8   robot
9   robot
10  human
11  robot
12  human
13  human
14  robot
15  robot
16  human
17  human
18  robot
19  human

In [14]:
data['tmp'] = 1
data.set_index([data.index, 'whoAmI'], inplace=True)
data = data.unstack(level=-1, fill_value = 0).astype(int)
data.columns = data.columns.droplevel()
data.columns.name = None
print(data)

    human  robot
0       1      0
1       0      1
2       1      0
3       0      1
4       0      1
5       1      0
6       1      0
7       0      1
8       0      1
9       0      1
10      1      0
11      0      1
12      1      0
13      1      0
14      0      1
15      0      1
16      1      0
17      1      0
18      0      1
19      1      0